---
import Layout from '../layouts/Layout.astro';
import mainPageImage from '../assets/images/u3629887153_a_stylish_fantasy_world_at_midnight_geometric_abs_49e0ca04-3bd7-4372-a11f-d2bb178a87cb_0.png';
import MyIcon from '../assets/images/icon2.jpg';

import '../styles/global.css';

import Header from '../components/Header.tsx';
import MainPageAnimation from '../components/Animations/MainPageAnimation.tsx';
import ScrollFieldAnimation from '../components/Animations/ScrollFieldAnimation.tsx';
import CircleTextAnimation from '../components/Animations/CircleTextAnimation.tsx';
import GithubContrib3D from '../components/Animations/GithubContrib3D.tsx';
---

<Layout>
  <!-- 固定要素: 背景画像とヘッダー -->
  <Fragment slot="fixed-elements">
    <img
      src={mainPageImage.src}
      width={mainPageImage.width}
      height={mainPageImage.height}
      alt="main page image"
      loading="lazy"
      class="w-full h-screen fixed -z-10 object-cover object-center"
    />
    <Header client:load />
  </Fragment>
  
  <ScrollFieldAnimation client:load />
  
  <div class="flex flex-col w-full h-screen justify-center px-24">
    <div class="flex text-white text-4xl">
      <MainPageAnimation
        client:load
        words={[
          "AI",
          "Entertainment",
          "Unconvertional",
        ]}
        hold={1.6}
        fade={0.45}
      />
    </div>
  </div>

  <section class="relative flex flex-col w-full bg-sky-950/80 backdrop-blur-sm text-white overflow-hidden">
    <div class="flex w-full py-56 items-center justify-center gap-36 font-fugaz">
      <div class="flex flex-col">
        <h1 class="text-6xl">Hello. I'm Kizuki!</h1>
        <p class="font-mono text-xl">One of the students in Kamiyama Marugoto College.</p>
        <p class="font-mono text-xl">I like Web Engineering, LLM and Entertainment.</p>
      </div>
      <div class="flex h-full">
        <img
          src={MyIcon.src}
          width={MyIcon.width}
          height={MyIcon.height}
          alt="My Icon"
          class="w-48 h-auto rounded-full shadow-lg object-cover"
          loading="lazy"
        />
        <p class="mt-5 font-mono">< hi !</p>
      </div>
    </div>
    <div class="flex flex-col py-56 items-center justify-center font-fugaz">
      <h2 class="text-6xl">My Mission</h2>
      <p class="font-mono text-2xl mt-6 mb-12">Exploring creativity through code and curiosity.</p>
      <h2 class="text-6xl">My Vision</h2>
      <p class="font-mono text-2xl mt-6">To explore new possibilities through technology and imagination.</p>
    </div>
    <div class="flex flex-col py-56 items-center justify-center font-fugaz">
      <h2 class="text-6xl">Gallery</h2>
      <span>there is gallery secsion.</span>
    </div>
    <div class="flex flex-col py-56 items-center justify-center font-fugaz bg-gray-800">
      <h2 class="text-6xl">Articles</h2>
    </div>
    <div class="border-1 border-gray-700 px-24"></div>
    <div class="flex items-center font-fugaz bg-gray-800">
      <h2 class="text-6xl">Contact</h2>
      <div class="flex flex-col py-12 gap-6">
      </div>
    </div>
  </section>
</Layout>
